target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
### IntelliJ IDEA ###
*.iml
# Ignore lock files
*.~lock*

# Ignore compressed files
*.7z
*.zip

# Ignore Office documents
*.docx

# Ignore CSV files
*.csv

# Ignore Excel files
*.xlsx

# Ignore SQL dump files
*.sql.gz

# Ignore image files
*.jpg

# Ignore PEM files
*.pem

# Ignore PDF files
*.pdf

# Ignore Debian package files
*.deb

# Ignore iReport directories
iReport-5.6.0/

# Ignore Postman directory
postman-9.25.1-linux-x64/

# Ignore node_modules directory (assuming it's a Node.js project)
node_modules/

# Ignore .idea directory (IntelliJ IDEA settings)
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store